{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <form method="PUT" action="/" class="box">
        <h1 class="has-text-centered mb-5 is-size-3">Password Change</h1>
        <div class="field has-text-centered">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="field has-text-centered">
            <button class="btn btn-danger" type="submit">Confirm</button>

        </div>
    </form>

{% endblock content %}